<section ng-controller="userCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-btns">
                <a href="" class="panel-close">×</a>
                <a href="" class="minimize">−</a>
            </div>
            <h4 class="panel-title">Users</h4>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <a href="" class="btn-sm" ng-click="toggleUserModal()"><i class="fa fa-plus fa-lg"></i></a>
                <a href="" class="btn-sm"><i class="fa fa-users fa-lg"></i></a>
                <a href="" class="btn-sm"><i class="fa fa-search fa-lg"></i></a>
            </div>
            <table ng-table="tableParams" class="table table-bordered table-striped">
                <tr ng-repeat="user in $data">
                    <td data-title="'Display Name'">{{user.name}}</td>
                    <td data-title="'User Name'">{{user.age}}</td>
                    <td data-title="'Status'">Active</td>
                </tr>
            </table>
        </div><!-- panel-body -->
    </div>
    <modal title="Create a new user account" visible="showUserModal">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="tbFirstName" class="col-sm-2 control-label">First Name</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="First Name">
                </div>
                <label for="tbFirstName" class="col-sm-2 control-label">Last Name</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="Last Name">
                </div>
            </div>
        </form>
    </modal>
</section>